@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
    max-width: 600px;
    margin: 25vh auto;
    background-color: #4e4e4e;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
#header{
    background-color: #cecbcb;
    width: 250px;
    margin-left: 140px;
	padding: 3px 0;
	margin-bottom: 14px;
    border-radius: 15px;
}
#title{
	margin-top: -50px;
	font-weight: 600
}

@media (max-width: 700px) {
	#header{
		margin-left: 70px;
	}
	#title{
	margin-top: -25px;
	font-weight: 600
	}
}